<launch>

    <arg name="ROBOT" default="estirabot" />

    <group ns="$(arg ROBOT)" >

        <!-- Kinect Camera Transformation -->
        <node pkg="tf"
              type="static_transform_publisher"
              name="kinect"
              args="0.901476 -0.0794 0.725172 -0.641407 0.032404 0.772933 0.011045 /$(arg ROBOT)_link_base camera_link 300" >
        </node>

        <!-- Kinect -->
	<include file="$(find openni_launch)/launch/openni.launch"> 
	<arg name="depth_registration" default="true" />
	</include>


    </group>

        <!-- IRI Test Image Process -->
	<include file="$(find iri_color_interesting_points_tableware)/launch/iri_color_interesting_points_tableware.launch" />

</launch>

